.header{
    background-image: url(./image/RASM^.jpg);
    min-height: 700px;
    background-position: center;
    background-size: cover;
}
.navbar-links__a{
    color: white;
}
.navbar-links__a:hover{
    color: #ED8E00;
}
.navbar-logo{
    max-width: 90px;
    border-radius: 50%;
}
.text-center h1{
    font-size: 40px;
    font-weight: 700;
}
.text-center p{
    font-size: 25px;
    font-weight: 700;
}
.products{
    background: #14082c;
}
.products-card{
    border-radius: 6px;
}
.products-heading{
    color: #2C2A2A;
    font-size: 28px;
}
.products-text{
    color: #9B9B9B;
    font-size: 20px;
}
.products-item{
    border-radius: 6px;
}
.footer{
    padding-top: 37px; 
    padding-bottom: 57px;
}
.border-6{
    border-radius: 6px;
}
.comment textarea{
  height: 86px;
  margin: 10px 0;
}
.comment button{
  background: #544294;
}
.card{
    max-width: 230px;
    height: 120px;
}
.footer-end{
    background: #14003c;
}
.footer-end p{
    color: rgb(255, 79, 21);
    font-size: 40px;
    font-weight: 700;
}
.boxs{
    min-height: 300px;
    background: #000000;
    border-radius: 30px;
}
.box{
    min-height: 300px;
    background: #6c5c5c;
    border-radius: 30px;
}
.box .text-center{
    color: #000000;
    font-weight: 700;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
@media (max-width: 768px){
    .box h4{
      font-size: 40px;
    }
    .box p{
        font-size: 10px;
    }
}
@media (max-width: 400px){
    .header-text h1{
        margin-top: 30px;
    }
}
  